<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821"/>
        <codeBase version="1.2.10.0" href="log4net1210\log4net.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a"/>
        <bindingRedirect oldVersion="1.2.11.0-1.2.15.0" newVersion="1.2.15.0"/>
        <codeBase version="1.2.15.0" href="log4net.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
