<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AirQualityServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AirQualityServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://211.137.19.74:8089/AirQualityService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AirQualityServiceSoap"
                contract="WSReference.AirQualityServiceSoap" name="AirQualityServiceSoap" />
            <endpoint address="http://211.137.19.74:8089/AirQualityService.asmx"
                binding="customBinding" bindingConfiguration="AirQualityServiceSoap12"
                contract="WSReference.AirQualityServiceSoap" name="AirQualityServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>